.mainheading {
 text-align: center;
}

.results {
 text-align: center;
}

.user-input {
 display: flex;
 justify-content: center;
 align-content: space-around;
}

#convert-button {
 display: block;
 margin: 0 auto;
}